@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  overflow-x: scroll;
  overflow-y: scroll;
  flex-wrap: nowrap;
}

header {
  display: flex;
  gap: 14px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px 10px 50px;
  border-bottom: solid 1px #f5f5f5;
}

header h1 {
  font-weight: bold;
  font-size: 28px;
  color: #333333;
}

.categories {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.categories li:hover {
  font-weight: bold;
}

.cart-icon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: none;
}

.menu-icon {
  width: 24px;
  height: 24px;
  object-fit: contain;
  display: none;
}

.container {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 30%;
}

form {
  display: flex;
  align-items: center;
}

.search {
  background-color: #f5f5f5;
  border: none;
  width: 80%;
  height: 40px;
  padding: 5px;
  font-weight: 600;
  color: #000;
}

.search::placeholder {
  padding: 5px;
}

.search-submit {
  background-color: #37268c;
  color: white;
  width: 19%;
  height: 40px;
  padding: 5px;
  border: none;
}

.search-submit img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.cart-section {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.totalValue {
  font-weight: 600;
}

.cart {
  list-style: none;
  height: 100%;
  background-color: #f5f5f5;
  display: block;
  text-align: center;
}

h3 {
  margin-top: 10px;
  background-color: #37268c;
  color: white;
  width: 100%;
  height: 40px;
  padding: 5px;
  border: none;
  padding-top: 10px;
  text-align: center;
  font-size: 16px;
}

.cart li {
  padding: 10px;
  border-bottom: solid #3333330f;
  gap: 5px;
}

.cart p {
  display: flex;
  font-size: 15px;
}

.showcase {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.showcase-list li {
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 5px;
  padding: 10px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.showcase-list li:hover {
  border: solid 2px #37268c;
}

.category {
  width: 50%;
  padding: 7px;
  font-weight: 600;
  text-align: center;
  color: white;
  background-color: #2e245e;
}

img {
  width: 100%;
  height: 150px;
  object-fit: contain;
}

.title {
  margin-top: 10px;
  height: 70px;
  font-style: bold;
  font-size: 24px;
  color: #333333;
}

.description {
  font-size: 16px;
  color: #828282;
}

.value {
  margin-top: 5px;
  color: #37268c;
  font-weight: 600;
}

.add-cart {
  margin-top: 10px;
  justify-content: end;
  border: none;
}

.add-cart:hover {
  border-bottom: solid 2px #2e245e;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column-reverse;
  }

  .menu-mobile {
    display: flex;
    gap: 14px;
  }

  .cart-icon {
    display: block;
  }

  .cart-section {
    display: none;
  }

  .categories {
    display: none;
  }

  .showcase {
    width: 100%;
  }

  .nav {
    width: 100%;
    justify-content: center;
    padding: 25px;
  }
}

@media (max-width: 700px) {
  .showcase-list {
    height: 500px;
    overflow-y: scroll;
  }
  .showcase-list li {
    width: 45%;
  }
}

@media (max-width: 480px) {
  .showcase-list li {
    width: 90%;
  }
}
